 :root {
     --carousel-height: 60rem;
     --carousel-width: 38rem;
                     }
/* Oculta el scroll horizontal */
.carousel {
    height: var(--carousel-height);
    overflow: hidden;
    width: var(--carousel-width);
}
#myVideo {
    height: var(--carousel-height);
    width: var(--carousel-width);
}
.carousel__container {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.carousel__slider {
    height: var(--carousel-height);
    min-width: var(--carousel-width);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
}

 @media only screen and (max-width: 600px) {
     :root {
         --carousel-height: 65rem;
         --carousel-width: 35rem;
     }
 }


.carousel__slider--1 {
    /*background-image: url("https://source.unsplash.com/featured/1000x400/?dog");*/
}
.carousel__slider--2 {
    background-image: url("../images/february/main.jpeg");
    background-size: contain;
}

.carousel__slider--3 {
    background-image: url("../images/february/cena_01.jpeg");
    background-size: contain;
}
/*

    .carousel__container::-webkit-scrollbar:vertical {
      width:5px;
    }

    .carousel__container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
      display: none;
    }

    .carousel__container::-webkit-scrollbar:horizontal {
      height: 10px;
    }

    .carousel__container::-webkit-scrollbar-thumb {
      background-color: var(--color-secundario)!important;
      border-radius: 20px;
      border: 2px solid rgba(0,0,0,0);
    }
    .carousel__container::-webkit-scrollbar-thumb {
      background-color: var(--color-secundario)!important;
      border-radius: 20px;
      border: 2px solid rgba(0,0,0,0);
    }
    .carousel__container::-webkit-scrollbar-track {
      border-radius: 10px;
*/