.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}
/*
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 10s infinite alternate linear;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
*/
.slider ul {
    display: flex;
    padding: 0;
    width: 700%;
    animation: cambio 10s infinite alternate linear;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    12% {margin-left: 0;}

    15% {margin-left: -100%;}
    27% {margin-left: -100%;}

    30% {margin-left: -200%;}
    42% {margin-left: -200%;}

    45% {margin-left: -300%;}
    57% {margin-left: -300%;}

    60% {margin-left: -400%;}
    72% {margin-left: -400%;}

    75% {margin-left: -500%;}
    87% {margin-left: -500%;}

    90% {margin-left: -600%;}
    100% {margin-left: -600%;}
}
/******Modal Carrusel*******/
.img-size{
    /* 	padding: 0;
        margin: 0; */

    background-size: contain;
    overflow: hidden;
}
#img-uno{
    margin-left: auto!important;
    height: 600px!important;
    max-width: 500px!important;
}
#img-dos{
    height: 450px!important;
    max-width: 700px!important;
}
/*.modal-content*/
.my-mod-c{
    margin: auto;
    max-width: 700px;
    border:none;
}
/*.modal-body*/
.my-mod-b {
    padding: 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

@media screen and (max-width: 767px) {
    #modalSep{
        margin-top: 50px!important;
    }
    .my-mod-d{
        max-width: 600px;
        margin: 30px auto;
    }
}
